@model lab5.Models.UserApplication

<div class="container">
    <h2 class="text-center">User profile</h2>
    <form>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" value="@Model.Mail" readonly>
        </div>
        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control" id="phone" value="@Model.PhoneNumber" readonly>
        </div>
        <div class="form-group">
            <label for="nickname">Nickname</label>
            <input type="text" class="form-control" id="nickname" value="@Model.UserName" readonly>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" value="@Model.FirstName" readonly>
        </div>
        <div class="form-group">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" id="lastName" value="@Model.LastName" readonly>
        </div>
        <div class="form-group">
            <label for="middleName">Middle Name</label>
            <input type="text" class="form-control" id="middleName" value="@Model.MiddleName" readonly>
        </div>
    </form>
</div>